<div class="container mt-4 pt-3">
  <div class="row d-flex  justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-8 col-8">
      <h2 class="justify-content-center mb-3">Novo dono de pet</h2>
      <%= simple_form_for @owner do |f| %>
        <%= f.input :name, label: 'Nome' %>
        <%= f.input :document, label: 'Documento' %>
        <%= f.input :birthday, label: 'Data de nascimento', 
                              as: :date,
                              start_year: Time.now.year - 10, 
                              end_year: Time.now.year - 90,
                              order: %i[day month year] %>
        <%= f.button :submit, "Adicionar", class: 'btn btn-outline-secondary' %>
      <% end %>
    </div>
  </div>
</div>
