<div class="container">
  <p>Perfil de <%= @pet.name %></p>
  <p>Nome do dono: <strong><%= @pet.owner.name %></strong></p>
  <p>Nome do pet: <strong><%= @pet.name %></strong></p>
  <p>Tipo: <strong><%= @pet.pet_type %></strong></p>
  <p>Custo mensal: <strong><%= @pet.monthly_cost %></strong></p>
</div>
